body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 200px 120px 200px;
    gap: 25px;
}

.hero-text {
    flex-direction: column;
    flex: 1;
    max-width: 500px;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 10px;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

img {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 350px;
    max-width: 700px;
    flex: 1;
    border-radius: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 300px 80px 300px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.images {
    display: flex;
    margin-top: 50px;
    gap: 40px;
    justify-content: center;
}

.images div {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

.images div div {
    border: 3px solid #3882F6;
    border-radius: 8px;
    min-height: 150px;
    min-width: 150px;
    aspect-ratio: 1/1;
}

.images div p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px 300px 20px 300px
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    margin-top: 0;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px 200px;
    padding: 25px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 8px;
}

.action {
    display: flex;
    flex-direction: column;    
}

.action :nth-child(1) {
    margin-bottom: 2px;
    font-weight: 800;
    font-size: 20px;
}

.action :nth-child(2) {
    margin-top: 0;
    font-size: 18px;
}

.signup button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    font-weight: 700;
    border: solid 2px white;
    border-radius: 8px;
}


.footer {
    color: #F9FAF8;
    font-size: 18px;
    background-color: #1F2937;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}